.blank {
  background-color: rgb(255, 255, 177, 0.5);
}

.cross,
.zero {
  position: relative;
}

.winner span {
  @apply text-lime-2;
  @apply p-2;
  background-color: rgba(40, 40, 40, 0.7);
  
  font-weight: bolder;
  font-size: 2.5rem;

  width: fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  position: absolute;

  z-index: 3;
  border-radius: 12px;
  transform: translate(-50%, -50%);
}

.cross::before,
.cross::after {
  @apply bg-violet-2;
  content: "";

  width: 125%;
  height: 10%;
  top: 45%;
  left: -12%;
  position: absolute;

  border-radius: 25px;
  transform: translate(0, -50%);
}
.cross::before {
  transform: rotate(45deg);
}
.cross::after {
  transform: rotate(-45deg);
}

.zero {
  @apply bg-aqua;
  border-radius: 50%;
}

.zero::after {
  content: "";
  @apply bg-lime-2;

  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  position: absolute;

  border-radius: 50%;
  transform: translate(-50%, -50%);
}
